In [100]:
import seaborn as sb 
import pandas as pd

In [101]:
df=sb.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [102]:
#Question 1. 
#           How much is the most expensive diamond?
#
# The function used to calculate max value is max().
# I'll use this function in the column price,
# and then store this data in the variable called .

max_price = df['price'].max()
print(f'The price is {max_price}')

The price is 18823

In [103]:
#Question 2.
#           What is the diamonds average price?
# 
# The function used to calculate average is mean().
# I'll use this function in the column price,
# and then store this data in the variable called avg_price. 
# I used round(2) to round to 2 digits after the dot.

avg_price = df['price'].mean().round(2)
print(f'The average price is {avg_price}')

The average price is 3932.8

In [104]:
#Question 3.
#           How many diamonds with ideal cut exist?
#
# I'll use pandas to filter the column 'cut', 
# where the row data is 'Ideal' 
# and then count it using shape[0].

ideal_count = df[df['cut'] == 'Ideal'].shape[0]
print(f"The number of diamonds with an 'Ideal' cut is: {ideal_count}")

The number of diamonds with an 'Ideal' cut is: 21551

In [105]:
#Question 4.
#           How many different colors are there in diamonds? What are they?
# I'll use pandas to filter the 'color' column using the function unique(). 
# This will return a list of color that I'll call unique_colors, without repeated values,
# Then I'll use the len() funtion to count how many color are in that list.
# After that, I'll use join funtion to display the values separated by ','.

unique_colors = df['color'].unique()
num_colors = len(unique_colors)
print(f"There are {num_colors} different colors in diamonds.")
print(f"The colors are: {', '.join(unique_colors)}")

There are 7 different colors in diamonds.
The colors are: E, I, J, H, F, G, D

In [106]:
#Question 5.
#           What is the median carat of Premium diamonds?
#
# I'll use pandas to filter the dataset for 'Premium' diamonds,
# Then calculate the median carat using the function median(),
# And saving this data in the median_carat variable.

median_carat = df[df['cut'] == 'Premium']['carat'].median()
print(float(median_carat))

0.86

In [107]:
#Question 6.
#           Show the average carat for each cut type.
#
# I'll use pandas to group the carat column by each cut type, using the groupby function,
# And then calculate the average 'carat' for each cut type
# Rounding for 2 digits after the dot, using the round function.

avg_carat_per_cut = df.groupby('cut', observed=False)['carat'].mean().round(2)
print(avg_carat_per_cut)

cut
Ideal        0.70
Premium      0.89
Very Good    0.81
Good         0.85
Fair         1.05
Name: carat, dtype: float64

In [108]:
#Question 7.
#           Calculate the average price for each color.
#
# I'll use pandas to group the diamonds color by there price,
# Calculate the average using the function mean,
# And then round the result for 2 digits after the dot using the round function.

avg_price_per_color = df.groupby('color',observed=False)['price'].mean().round(2)
print(avg_price_per_color)

color
D    3169.95
E    3076.75
F    3724.89
G    3999.14
H    4486.67
I    5091.87
J    5323.82
Name: price, dtype: float64